<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/styles/style.css">
    <title>My Website</title>
    <!-- 여기에 필요한 CSS 파일들을 링크하세요 -->
</head>

<body>
    <nav class="navbar">
        <div class="navbar-left" style="display: flex; color: black;">
            <a href="/"><img src="https://www.ice.go.kr/images/template/00005/common/logo.png" alt="로고"></a>
	    <h3>학교로 찾아가는 노동인권교육 추가모집</h3>
        </div>
        <div class="navbar-right">
            <% if (user) { %>
                <% if (user.loggedIn) { %>
	            <a href="/apply">교육신청</a>
                    <a href="/mypage">마이페이지</a>
                    <a href="/logout">로그아웃</a>
                <% } else { %>
                    <a href="/login">로그인</a>
                <% } %>
            <% } else { %>
            <% } %>
        </div>
    </nav>
    <hr>

    <!-- 여기에 본문 내용을 작성하세요 -->
    <div class="container mt-4">
	    <h1>로그인</h1>
	    <h5 id="message"></h5>
	    <form action="/api/login" method="POST" class="signup">
		    <label for="school">학교 선택:</label>
		    <select id="school" name="school" required>
			    <option value="" disabled selected>학교를 선택하세요</option>
			    <% schools.forEach(school => { %>
			    <option value="<%- school %>"><%- school %></option>
			    <% }); %>
		    </select>
		    <label for="password">비밀번호:</label>
		    <input type="password" id="password" name="password" required>
		    <button type="submit">로그인</button>
	    </form>
	    <p><a href="/signup">회원가입</a></p>
    </div>

    <!-- 여기에 필요한 JavaScript 파일들을 링크하세요 -->
    <!-- Bootstrap 및 jQuery 스크립트 -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
	<script>
		// index.ejs (또는 다른 페이지에서 사용하는 스크립트 부분)

		// URL에서 query string을 추출하는 함수
		function getQueryStringValue(key) {
			const urlParams = new URLSearchParams(window.location.search);
			return urlParams.get(key);
		}

// 페이지가 로드될 때 실행되는 함수
function onLoad() {
	const message = getQueryStringValue('message');
	if (message) {
		// 메시지가 존재하면 화면에 표시
		const messageDiv = document.getElementById('message');
		messageDiv.innerText = message;
	}
	else {
		$('#message').hide();
	}
}

// 페이지 로드 시 onLoad 함수 실행
window.onload = onLoad;
	</script>
</body>

</html>

