<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/styles/style.css">
    <title>My Website</title>
    <!-- 여기에 필요한 CSS 파일들을 링크하세요 -->
</head>

<body>
    <nav class="navbar">
        <div class="navbar-left" style="display: flex; color: black;">
            <a href="/"><img src="https://www.ice.go.kr/images/template/00005/common/logo.png" alt="로고"></a>
	    <h3>학교로 찾아가는 노동인권교육 추가모집</h3>
        </div>
        <div class="navbar-right">
            <% if (user) { %>
                <% if (user.loggedIn) { %>
	            <a href="/apply">교육신청</a>
                    <a href="/mypage">마이페이지</a>
                    <a href="/logout">로그아웃</a>
                <% } else { %>
                    <a href="/login">로그인</a>
                <% } %>
            <% } else { %>
                <a href="/login">로그인</a>
            <% } %>
        </div>
    </nav>
    <hr>

    <!-- 여기에 본문 내용을 작성하세요 -->
    <div class="container mt-4">
        <h1>여기는 본문입니다.</h1>
    </div>

    <!-- 여기에 필요한 JavaScript 파일들을 링크하세요 -->
</body>

</html>

