/* styles.css */
html,body {
	margin:0;
	padding:0;
}

/* 네비게이션 바 스타일 */
.navbar {
	display: flex;
	justify-content: space-between;
	align-items: center;
  background-color: #fff;
  color: #fff;
  padding: 10px;
}

.navbar a {
  color: #000;
  text-decoration: none;
  margin-right: 10px;
}

.navbar a:hover {
  text-decoration: underline;
}

/* 로그인 버튼 스타일 */
.login-button {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
}

.login-button:hover {
  background-color: #0056b3;
}

.container {
	display: flex;
	flex-direction: column;
	width: 50%;
	margin: auto;
	margin-top: 150px;
	margin-bottom: 150px;
	padding: 15px;
	justify-content: center;
	align-items: center;
	border-radius: 20px;
	box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.2);
}
.status {
	width: 90%;
	margin-top: 40px;
}
.signup {
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 65%;
}

.signup label,button {
	margin-top: 20px;
}
.signup button {
	margin-bottom: 20px;
	height: 30px;
	background: black;
	border-radius: 10px;
	color: white;
}
.signup select,input{
	padding: 10px;
	font-size: 15px;
}
#statusTableBody button {
	margin: 10px;
}
#phoneAreaCode {
	width: 40px;
}
.screen-block {
	display: none;
}
#totalClassesResult {
	margin-top: 15px;
}
/* 기타 원하는 스타일 추가 */
@media screen and (max-width: 800px) {
	.screen-block {
		display: flex;
		position: fixed;
		z-index: 10;
		background-color: #00000050;
		width: 100%;
		height: 100%;
		justify-content: center;
		align-items: center;
		margin: auto;
	}

	.warn-msg {
		display: flex;
		width: 70%;
		height: 80%;
		background-color: #ffffffee;
		color: black;
		border-radius: 20px;
		align-items: center;
		justify-content: center;
		font-size: 18px;
		font-weight: bolder;
	}
}
