/* styles.css */

/* 네비게이션 바 스타일 */
.navbar {
	display: flex;
	justify-content: space-between;
	align-items: center;
  background-color: #fff;
  color: #fff;
  padding: 10px;
}

.navbar a {
  color: #000;
  text-decoration: none;
  margin-right: 10px;
}

.navbar a:hover {
  text-decoration: underline;
}

/* 로그인 버튼 스타일 */
.login-button {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
}

.login-button:hover {
  background-color: #0056b3;
}

.container {
	display: flex;
	flex-direction: column;
	width: 50%;
	margin: auto;
	margin-top: 40px;
	justify-content: center;
	align-items: center;
	border-radius: 20px;
	box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.2);
}

.signup {
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 65%;
}

.signup label,button {
	margin-top: 20px;
}
.signup button {
	margin-bottom: 20px;
	height: 30px
}
/* 기타 원하는 스타일 추가 */

